<html>
  <head>
    <title>Compare Results</title>
  </head>
  <body>
    {% if user %}
    <a href= "/wishlist">Go to my Wishlist</a>
    {% endif %}
    <form method = "get" action = "/results">
      <input type = "text" name = "search">
      <input type = "submit" value = "Find LCD">
    </form>

    <h2>Comparison Results</h2>
      {% for result in results %}
      <div><img src='{{result[3]}}  '> {{result[0]}}
      Sale Price: {{result[1]  }}
      <a href='{{result[2]}}'>Buy from {{result[4]}}</a>
      <a href={{result[5]}}>Add to my Wishlist</a>
      </div>
      {% endfor %}
      <br>
      <form method = "get" action = "/">
        <input type = "submit" value = "Back to search">
      </form>
  </body>
</html>
