<html>
  <head>
    <title>Compare Results</title>
  <link rel="stylesheet" type="text/css" href= "assets/style.css"></link>
  <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id = 'header'>
  {% if user %}
  <a href='{{logout}}'>
    <div class = 'header_part'>
      Log Out
    </div>
  </a>
  <a href= "/wishlist">
    <div class = 'header_part'>
      Go to my Wishlist
    </div>
  </a>
  {% else %}
  <a href='{{login}}'>
    <div class = 'header_part'>
      Sign In or Register
    </div>
  </a>
  {% endif %}
  <a href= "/">
  <img id = 'search_logo' src = 'assets/logo.png'>
</a>
  <div id = 'search_bar'>
    <form method = "get" action = "/results">
      <input id='search' type = "text" name = "search"
      ><input id='submit' type = "submit" value = "Find LCD">
    </form>
  </div>
</div>
    <div id = 'contents'>
    <div id = 'results'>
    <h2>Comparison Results</h2>
    </div>
      {% for result in results %}
      <div class = 'result'><img class = 'result_image' src='{{result[3]}}'><div class = 'information'> {{result[0]}}<br>
      Sale Price: ${{result[1]}} <br>
      <a href='{{result[2]}}'><input class = 'button' type = 'button' value = 'Buy from {{result[4]}}'></a><br>
      <a href={{result[5]}}><input class = 'button' type = 'button' value = 'Add to my Wishlist'></a>
      </div>
      </div>
      {% endfor %}
      <br>
        <form method = "get" action = "/">
          <input class = 'button' type = "submit" value = "Back to search">
        </form>
        <br>
      </div>
  </body>
</html>
