<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href='assets/theme.css'>
    <title>Product Search</title>
    <h1>  {% if user %}
        <a href= "/wishlist" id="wishlist" style="text-decoration:none">Go to my Wishlist</a>
        {% endif %}
  </head>
  <body>
    <div id = 'header'>
    {% if user %}
    <div id = 'loggedin'>
    <a href='{{logout}}'>Log Out</a>
  </div>
    {% else %}
    <div id = 'loggedout'>
    <a href='{{login}}'>Sign In or Register</a>
  </div>
    {% endif %}
  </div>
    <h1>{{greeting}}</h1>
    <img src="assets/Logo.png" id="logo">
    <form method = "get" action = "/results">
      <input type = "text" name = "search" id="searchbar">
      <input type = "submit" value = "Find LCD" id="searchsubmit">
    </form>
  </body>
</html>
