<html>
  <head>
    <title>Wishlist</title>
  </head>
  <body>
    <h1>Your Wishlist</h1>

  {% if not wishlist %}
    No wishlist items to display <br>
  {% else %}
    {% for result in wishlist %}
    <div>{{result.image}} {{result.name}}
    Sale Price: {{result.price}}
    <a href='{{result.url}}'>Buy from {{result.store}}</a>
    <a href='{{result.removeUrl}}'>Remove from Wishlist</a>
    </div>
    {% endfor %}
  {% endif %}
  <br>
  <form method = "get" action = "/">
    <input type = "submit" value = "Back to search">
  </form>
  </body>
</html>
